<h3>Passo a Passo: Procedimento de Inspeção</h3>
<h4>Vistoria</h4>
<i><%= link_to "[Nova vistoria]", new_group_path %></i>
<br/><br/>
<h4>Ítens de Inspeção</h4>
<i><%= link_to "[Novo Ítem de Inspeção]", new_equipment_path %></i>
<br/><br/>
<h4>Inspeções</h4>
<i><%= link_to "[Nova Inspeção]", new_inspection_path %></i>
<br/><br/>
<hr>
<h3>Dados do Sistema</h3>
<h4>Tipos de Ítens</h4>
<i><%= link_to "[Novo Tipo de Ítem]", new_equip_type_path %></i>
<br/><br/>
<h4>Localização</h4>
<i><%= link_to "[Nova Localização]", new_building_path %></i>
<div class="push-navx">
