<style>
.img-container
{
	padding:		1px;
	width:		300px;
	height:		200px;
}

.image-details
{

	max-width:		300px;
	max-height:		200px;
}

.hrdivider
{
	border: 1px solid #000;
}

.hrdivider2
{
	border: 2px solid #000;
}

.cleartable {
	border: none;
}

.borderedtable
{
	border: 1px solid #000;
}

.td-info-x {
    width: 30px;
    height: 35px;
    display: inline-block;
    white-space: nowrap;
}


.glyphicon-sim {
    font-size: 30px;
    color: green;
}

.glyphicon-nao {
    font-size: 30px;
    color: red;
}
.glyphicon-nsa {
    font-size: 30px;
    color: blue;
}

</style>

<table class="table">
    <tr>
        <th>ID</th>
        <td><%= @inspection.id%></td>
    </tr>
    <tr>
        <th>Grupo</th>
        <td><%= @inspection.group.try(:name)%></td>
    </tr>
    <tr>
        <th>Tipo do Ítem</th>
        <td><%= @inspection.equipment.equip_type.kind%></td>
    </tr>
    <tr>
        <th>Localização</th>
        <td><%= @inspection.equipment.building.name%></td>
    </tr>
    <tr>
        <th>Data da Inspeção</th>
        <td>
	<% if (@inspection.group != nil) %>
		<%= @inspection.group.vist_date %>
	<% end %>
	</td>
    </tr>
    <tr>
        <th>Inspetor</th>
        <td><%= @inspection.user.name%></td>
    </tr>
    <tr>
        <th>Descrição</th>
        <td><%= @inspection.description%></td>
    </tr>
    <tr>
        <th>Aprovado?</th>
        <td> <% if (@inspection.sent ==1)
                    %><p class="text-muted"><span class="label label-default" "text-muted">Enviado</span><% else
                if (@inspection.approved == 0)
                    %><p class="text-muted"><span class="label label-info" "text-muted">Pendente</span><% end
                if (@inspection.approved == 1)
                    %><p class="text-muted"><span class="label label-success" "text-muted">Aprovado</span><% end
                if (@inspection.approved == 2)
                    %><p class="text-muted"><span class="label label-important" "text-muted">Reprovado</span><% end
                end
                %></td>
    </tr>
</table>

<hr class="hrdivider2" />

<h3>Checklist</h3>
<% if !(@inspection.equipment.is_there)  %>
	Erro na Inspeção: Equipamento não Definido.
<% else %>

	<% if @answers.size == 0 %>
      		Nenhuma pergunta foi respondida ou está disponível para o equipamento selecionado.
    	<% end %>
    	
	<% @answers.each do |answer| %>
		
		<hr class="hrdivider" />
		<table class="cleartable">
        	<tr>
			<td class="td-info-x">
			<% if (answer.is_ok == 0) %>
				<span class="icon-ok-circle glyphicon-sim">  </span>
			<% end %>
                    	<% if (answer.is_ok == 1) %>
				<span class="icon-remove-circle glyphicon-nao">  </span>
			<% end %>
                    	<% if (answer.is_ok == 2) %>
                        	<span class="icon-ban-circle glyphicon-nsa">  </span>
			<% end %>
            		</td>

        	    	<td width="100%" style="vertical-align:top;">
			<% if !answer.checklist_item.nil? %>
                		<strong> <%= answer.checklist_item.question %></strong>
        		<% else %>
				<strong>!!Pergunta Não Disponível!!</strong>
        		<% end %>
            		</td>
            		
		</tr>
        	<tr>	
			<td class="td-info-x">
			</td>
          		<td width="100%">
           			<% if !answer.comment.nil? && answer.comment != "" %>
                    			Comentários: <%= answer.comment %>
                  		<% else %>
                    			Comentários: Nenhum.
                  		<% end %>
				<hr/>
			</td>
		</tr>
		<tr>
			<td class="td-info-x">
			</td>
          		<td width="100%">
				<% img_count = 0 %>

				<% if answer.upload.size == 0 %>
					Nenhuma Imagem Vinculada a Esta Pergunta.
				<% end %>

	   			<% if answer.upload.size > 0 %>
					<table>
	   			<% end %>

				<% answer.upload.each do |upload| %>
				<% if img_count == 0 %>
					<tr>
	   			<% end %>
				<% img_count = img_count + 1 %>
		
				<td class="img-container">
					<div class="img-container">
						<a class="fancybox" rel="group-<%= answer.id%>" href="<%= upload.photo.url %>">
							<center>
								<img class="image-details borderedtable" src="<%= upload.photo.url %>" />
							</center>
						</a>
					</div>
				</td>
				<% if img_count >= 3 %>
					<% img_count = 0 %>
					</tr>
				<% end %>
				<% end %>
				<% if answer.upload.size > 0 %>
					</table>	   			
				<% end %>
			</td>
		</tr>
		</table>
    	<% end %>
<% end %>
</table>


<% if @inspection_url != nil %>
	<hr class="hrdivider2" />

	<h3>Imagem de Referência</h3>
	<hr class="hrdivider" />

	<div class="img-container">
		<a class="fancybox" rel="master" href="<%= @inspection_url %>">
			<center>
				<img class="image-details borderedtable" src="<%= @inspection_url %>" />
			</center>
		</a>
	</div>
<% end %>

<hr class="hrdivider2" />

<div class="container">
  <table>
    <tr>
      <% if (@inspection.approved == 0) then %>
      <% if (current_user.kind == "admin") %>
      <td>
        <%= link_to 'Aprovar', { action: :validate, id: @inspection.id },  method: :validate,  :onclick => "return confirm('Certeza que deseja aprovar a inspeção?')", class: "btn btn-success"%>
      </td>
      <td>
        <%= link_to 'Reprovar', { action: :disapprove, id: @inspection.id },  method: :disapprove,  :onclick => "return confirm('Certeza que deseja reprovar a inspeção?')", class: "btn btn-danger" %>
      </td>
      <!--% else %>
        Apenas Adminstradores podem aprovar ou reprovar inspeções!-->
      <% end %>
      <% end %>

    </tr>
  </table>
</div>

<script type="text/javascript">

//make the img fix
//$('img').error(function(){
//       	$(this).hide();
//});

//$( document ).ready(function() {
//	if ( $.browser.msie && $.browser.version < 9 ) {
//		$('img').each(function(){
//     			$(this).attr('src', $(this).attr('src'));
//		});
//	}	
//});
</script>
