<h3>Checklist - <%= @inspection.equipment.equip_type.kind%></h3>
<% if !(@inspection.equipment.is_there)  %>
	Aviso: Equipamento Não Existe.
<% else %>

	<% if @answers.size == 0 %>
      		Nenhuma pergunta foi respondida ou está disponível para o equipamento selecionado.
    	<% end %>
    	
	<% @answers.each do |answer| %>
		
		<hr class="hrdivider" />
		<table class="cleartable">
        	<tr>
			<td class="td-info-x">
			<% if (answer.is_ok == 0) %>
				<span title="Sim" class="icon-ok-circle glyphicon-sim"></span>
			<% end %>
                    	<% if (answer.is_ok == 1) %>
				<span title="Não" class="icon-remove-circle glyphicon-nao"></span>
			<% end %>
                    	<% if (answer.is_ok == 2) %>
                        	<span title="Não Se Aplica" class="icon-ban-circle glyphicon-nsa"></span>
			<% end %>
            		</td>

        	    	<td width="100%" style="vertical-align:top;">
			<% if !answer.checklist_item.nil? %>
                		<strong> <%= answer.checklist_item.question %></strong>
        		<% else %>
				<strong>!!Pergunta Não Disponível!!</strong>
        		<% end %>
            		</td>
            		
		</tr>
        	<tr>	
			<td class="td-info-x">
			</td>
			<% if !answer.comment.nil? && answer.comment != "" %>
       				<td width="100%">
					Comentários: <%= answer.comment %>           		
				</td>
			<% else %>
				<td width="100%">
					Comentários: Nenhum.
				</td>
			<% end %>
		</tr>
		<% if answer.upload.size > 0 %>
		<tr>
			<td class="td-info-x">
			</td>
			<td width="100%">
				<% img_count = 0 %>

				<% if answer.upload.size > 0 %>
					<table>
	   			<% end %>

			<% answer.upload.each do |upload| %>
			<% if img_count == 0 %>
				<tr>
   			<% end %>
			<% img_count = img_count + 1 %>
		
			<td class="img-container">
				<div class="img-container">
						<a class="fancybox" rel="group-<%= answer.id%>" href="<%= upload.photo.url %>">
							<center>
								<img class="image-details borderedtable" src="<%= upload.photo.url %>" />
							</center>
						</a>
					</div>
				</td>
				<% if img_count >= 3 %>
					<% img_count = 0 %>
					</tr>
				<% end %>
				<% end %>
				<% if answer.upload.size > 0 %>
					</table>	   			
				<% end %>
			</td>
			
		</tr>
		<% end %>
		</table>
    	<% end %>
<% end %>
</table>


<% if @inspection_url != nil %>
	<hr class="hrdivider2" />

	<h3>Imagem de Referência</h3>
	<hr class="hrdivider" />

	<div class="img-container">
		<a class="fancybox" rel="master" href="<%= @inspection_url %>">
			<center>
				<img class="image-details borderedtable" src="<%= @inspection_url %>" />
			</center>
		</a>
	</div>
<% end %>
