<style>
.img-container{
    padding:        1px;
    max-width:      250px;
    max-height:     150px;
}
</style>
<h1>Checklist</h1>
<hr>

<%= form_for @inspection, :html => {:multipart => :true } do |f| %>

<%= f.label :group_id, "Grupo Da Inspeção"%>
<%= f.collection_select :group_id, Group.all, :id, :name %>
<hr>
<% @questions.each do |id, question, q| %>
  <% question_id = id %>
  <%= label_tag question, question %>  
  <%= select('answers', id, @answertypes, :selected => @answer_data.where(checklist_item_id: id).first.try(:is_ok)) %>

  <%= label_tag "foto" ,"Escolha uma ou mais fotos para esta pergunta" %>
  <%= file_field :photos, id, :multiple => true %>

  <%= label_tag "foto_r", "Fotos Atuais"%>
  <% answer_first = @answer_data.where(checklist_item_id: question_id).first %>
  
  <% uploads = Upload.where(answer_id: answer_first.try(:id)) %>
  <% if uploads.size < 1 %>
	Não existem fotos para esta pergunta.
  <% else %>
        Existem <%= uploads.size %> fotos para esta pergunta.
  <% end %>
  <% for i in 0..(uploads.size-1) %>
	<% up_id = uploads[i].id %>
	<% up_url = uploads[i].photo.url %>
        <% table_id = "table_" + up_id.to_s %>
	<table id='<%= table_id %>'>
	<tr>
	<td>
	<div class="img-container" >
		<a class="fancybox" rel="group-<%= id%>" href="<%= up_url %>">
			<img class="image-details borderedtable" src="<%= up_url %>" />
		</a>		
	</div>
	</td>
	<td>
		<a href='javascript:void(0);' onclick='remove_upload_ajax(<%= up_id %>);'>Remover</a>
	</td>
	</tr>
	</table>
  <% end %>
  
  <%= label_tag "comment", "Comentário" %>
  <%= text_area_tag "comment_" + id.to_s, @answer_data.where(checklist_item_id: id).first.try(:comment) %>

<hr>

<% end %>
<br/>
<%= f.submit "Salvar", :class => "btn default-button"%>

<% end %>

<script type="text/javascript">
function remove_upload_ajax(idupload)
{
	//question
	var ask = confirm("Você deseja remover esta imagem?");
	if (!ask) return;

	//ajax

	//tablehide
	$a = $("#table_" + idupload);
	$a.remove();
}
</script>
