<div class="navbar navbar-default main-nav " role="navigation">
  <div class="navbar-inner mainnav">
    <div class="container-fluid">
      <%= image_tag "header_logo1.png", class: "logo" %>
      <!--a href="<%= root_path %>" class="brand">
        legal
      </a-->
    </div>
  </div>
</div>

<% if user_signed_in? -%>
<div class="row-fluid">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Passo a Passo</a>
        <ul class="nav">
          <li class="<%= 'active' if current_page?(groups_path) %>">
            <%= link_to "Vistoria", groups_path%>
          </li>
          <li class="<%= 'active' if current_page?(equipment_index_path) %>">
            <%= link_to "Ítem de Inspeção", equipment_index_path%>
          </li>
          <li class="<%= 'active' if current_page?(inspections_path) %>">
            <%= link_to "Inspeções Pendentes", inspections_path%>
          </li>
          <li class="<%= 'active' if current_page?(inspections_index_history_path) %>">
            <%= link_to "Inspeções Antigas", inspections_index_history_path%>
          </li>
          <li class="<%= 'active' if current_page?(equip_types_path) %>">
            <%= link_to "Tipos de Item", equip_types_path%>
          </li>
          <li class="<%= 'active' if current_page?(buildings_path) %>">
            <%= link_to "Prédios", buildings_path%>
          </li>
          <li class="<%= 'active' if current_page?(user_index_path) %>">
            <%= link_to "Meus dados", user_index_path%>
          </li>
          <li>
            <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
          </li>
          <li><h6>Bem Vindo, <%= current_user.try(:name) %></h6></li>
        </ul>
      </div>
    </div>
<% end -%>